@using System.Data;
@model System.Data.DataTable;

<div class="pagetitle">
    <h1>Doctor List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Doctor</li>
            <li class="breadcrumb-item active">List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->



<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datatables</h5>
                    <table>
                        <thead>
                            <tr>
                                <th>DoctorID</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Qualification</th>
                                <th>Specialization</th>
                                <th>IsActive</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th>UserName</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>@dr["DoctorID"]</td>
                                    <td>@dr["Name"]</td>
                                    <td>@dr["Phone"]</td>
                                    <td>@dr["Email"]</td>
                                    <td>@dr["Qualification"]</td>
                                    <td>@dr["Specialization"]</td>
                                    <td>@dr["IsActive"]</td>
                                    <td>@dr["Created"]</td>
                                    <td>@dr["Modified"]</td>
                                    <td>@dr["UserName"]</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>
